[package]
name = "proksi"
description = "A batteries-included reverse proxy with automatic HTTPS using Cloudflare Pingora and Let's Encrypt."
version = "0.3.31"
edition = "2021"
license = "MIT OR Apache-2.0"
keywords = ["proxy", "https", "reverse-proxy", "load-balancer", "pingora"]
categories = ["web-programming::http-server", "network-programming"]
exclude = [
  "*.yaml",
  "*.yml",
  "*.toml",
  "src/*.md",
  "examples/",
  "dist/",
  "docs/",
  "target/",
  "tests/",
  "assets/",
  "tmp/",
  "Makefile",
  "Dockerfile",
  "gitbook/",
  ".github/",
]
authors = ["The Proksi Contributors <toaster.chicory-0b@icloud.com>"]
rust-version = "1.78.0"
readme = "README.md"
homepage = "https://github.com/luizfonseca/proksi"
repository = "https://github.com/luizfonseca/proksi"

[profile.dev]
opt-level = 0
incremental = true

[profile.release]
strip = true       # Automatically strip symbols from the binary.
lto = true         # Enable link-time optimization.
debug = false
codegen-units = 1
incremental = true
panic = "abort"    # Abort on panic.

[dependencies]
anyhow = "1.0.86"
arc-swap = "1.7.1"
async-trait = "0.1.80"
bollard = "0.16.1"
bollard-stubs = "=1.44.0-rc.2"
bytes = "1.6.0"
clap = { version = "4.5.7", features = ["derive", "cargo"] }
figment = { version = "0.10.19", features = ["yaml", "env"] }
http = "1.1.0"
pingora = { version = "0.2.0", features = ["lb", "openssl", "proxy", "cache"] }
openssl = { version = "0.10", features = ["vendored"] }
serde = "1.0.203"
serde_json = "1.0.117"
tokio = { version = "1.38.0", features = ["sync", "rt-multi-thread", "fs"] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["json", "env-filter"] }
itertools = "0.13.0"
path-tree = "0.8.1"
once_cell = "1.19.0"
cookie = { version = "0.18.1", features = ["private"] }
reqwest = { version = "0.12.5", features = ["json"] }
jsonwebtoken = { version = "9.3.0", default-features = false }
uuid = { version = "1.9.0", features = ["v4"] }
prometheus = "0.13.4"
short-crypt = "1.0.28"
hcl-rs = "0.18.0"
pingora-cache = "0.2.0"
TinyUFO = "0.2.0"
acme-v2 = "0.9.2"
tracing-appender = "0.2.3"
num_cpus = "1.16.0"
notify = { version = "6.1.1", default-features = false, features = [
  "fsevent-sys",
] }
dashmap = "6.0.1"
nix = { version = "0.29.0", features = ["signal"] }


[[bench]]
name = "dashmap_arc"
harness = false


[dev-dependencies]
figment = { version = "0.10.19", features = ["toml", "yaml", "env", "test"] }
criterion = { version = "0.4", features = ["html_reports"] }
